body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    background: #B8A1B6;
    font-family: Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px; 
    width: 100%;
}

.hover-item {
    padding: 10px;
    text-align: center;
    background: linear-gradient(to top, #c42868, #B8A1B6);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, background-image 0.3s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hover-item img {
    max-width: 50px; 
    margin-bottom: 10px; 
}

.hover-item:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.instagram:hover {
    background-image: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}
.google:hover {
    background-image: linear-gradient(45deg, #4285f4, #34a853, #fbbc05, #ea4335);
}
.whatsapp:hover {
    background-image: linear-gradient(45deg, #25d366, #128c7e);
}
.phone:hover {
    background-image: linear-gradient(45deg, #34e89e, #0f3443);
}
.facebook:hover {
    background-image: linear-gradient(45deg, #3b5998, #8b9dc3);
}

.google {
    grid-column: span 2; 
    height: 100px; 
    max-height: calc(50vh - 10px);
    width: calc(100% - 20px); 
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .hover-item {
        padding: 20px;
    }
}
